@import "~swiper/dist/css/swiper.min.css";

* {
  box-sizing: border-box;
  color: white;
  -webkit-tap-highlight-color:transparent;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 225%;
  overflow: hidden;
  font-family: "方正兰亭黑", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
}

body {
  overflow: hidden;
  background: #3d3746 url("../images/bg.jpg") no-repeat 0 0/100% 100%;
}

#app, .container, .loading {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.loading {
  background: url("../images/loading.gif") no-repeat 50% 50%/2rem 2rem;
}

.section {
  position: relative;
  padding-top: 1.11rem;
  .btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 999;
  }
  .close-btn {
    background: url('../images/btn_close.png') no-repeat 0.5rem 0.5rem/1.11rem 1.11rem;
    left: .667rem;
    top:.5rem;
  }
  .back-btn {
    background: url('../images/btn_back.png') no-repeat 0.5rem 0.5rem/.667rem 1.11rem;
    left: .667rem;
    top:.5rem;
  }
  .home-btn {
    background: url('../images/btn_home.png') no-repeat 0.5rem 0.5rem/1.11rem 1.11rem;
    right: .667rem;
    top:.5rem;
  }
  .title {
    text-align: center;
    font-size: 1.33rem;
    line-height: 1;
  }
}

.skill-list {
  text-align: center;
  margin-top: 2.4rem;
  .item {
    display: inline-block;
    width: 6.4rem;
    height: 11.1rem;
    margin: auto .35rem;
    padding-top: 2.8rem;
    //border-radius: .5rem;
    background: url("../images/box_bg.png");
    overflow: hidden;
    &:first-child	{
      margin-left: 0;
    }
    &:last-child	{
      margin-right: 0;
    }
    .img {
      display: inline-block;
      height: 2.5rem;
      width: 2.5rem;
    }
    .name {
      margin: 2rem 0 .5rem 0;
      font-size: 1rem;
      color: white;
      line-height: 1;
    }
    .disc {
      color: #bfbfbf;
      font-size: 0.7rem;
      height: 0.7rem;
      line-height: 0.7rem;
      //margin-top: 0.556rem;
      &.coming {
        &::before {
          content: '即将推出';
          position: relative;
          top: -.5px;
        }
        border: 1px solid #bbb;
        border-radius: .722rem;
        font-size: .722rem;
        display: inline-block;
        width: 4.167rem;
        height: 1.111rem;
        line-height: 1.111rem;
        position: relative;
        top: -.14rem;
      }
    }
  }
}


.detail {
  .detail-box {
    position: relative;
    padding: 1.35rem 0 0 6.889rem;
    .menus {
      display: inline-block;
      width: 2.5rem;
      height: 15.17rem;
      overflow: hidden;
      //border: 1px solid;
      position: absolute;
    }
    .menu {
      width: 2.5rem;
      height: 2.5rem;
      display: inherit;
      margin: .43rem 0;
      img {
        display: inline-block;
        width: 1.667rem;
        height: 1.667rem;
        margin: auto;
      }
    }
    .swiper-container {
      height: 15.17rem;
      //margin-top: -7.7rem;
      .swiper-slide {
        opacity: .2;
      }
      .swiper-slide-prev, .swiper-slide-next {
        opacity: .6;
      }
      .swiper-slide-active {
        opacity: 1;
        img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
    .view {
      width: 100%;
      padding: 0 2.333rem 0 6.667rem;
      display: inline-block;
      -webkit-mask-image: -webkit-linear-gradient(bottom, transparent, rgba(255, 255, 255, 0.2) 1rem, #fff 1.778rem);
      mask-image: linear-gradient(bottom, transparent, rgba(255, 255, 255, 0.2) 1rem, #fff 1.778rem);
      .title {
        font-size: 1.333rem;
        line-height: 1.333rem;
        &::after {
          content: '';
          width: 16.9rem;
          border-bottom: 1px solid;
          opacity: .2;
          display: block;
          margin-top: .778rem;
        }
        .disc{
          font-size: 1rem;
        }
      }
      .text-view {
        height: 14.4rem;
        padding: .389rem 0 1.778rem 0;
        line-height: 1.778rem;
        overflow-y: scroll;
        -webkit-mask-image: -webkit-linear-gradient(transparent, #fff .778rem);
        mask-image: linear-gradient(transparent, #fff .778rem);
      }
    }
  }
}

.swiper-pagination {
  width: 100%;
  text-align: center;
  bottom: 2rem;
  line-height: 0;
  .swiper-pagination-bullet {
    width: .556rem;
    height: .556rem;
    margin: 0 .278rem;
    background-color: white;
  }
  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, .38);
    width: 1rem;
    border-radius: .556rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-track {/*滚动条里面轨道*/
  //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgba(0,0,0,0);
}

@media (max-device-height: 414px) and (min-resolution: 3dppx) {
  html {
    font-size: 124.2%;
  }
}

@media (max-device-height: 375px) and (min-resolution: 2dppx) {
  html {
    font-size: 112.5%;
  }
}

@media (max-device-height: 320px) and (min-resolution: 2dppx) {
  html {
    font-size: 95.8%;
  }
}